// ========================
//  Variables
// ========================

// Colors
$color-primary: #fff;
$color-secondary: #4a8686;
$color-shade: #b4b4b4;

// Text color
$color-text: #2f2f2f;

// Color shade pct%
$color-adjust-amount: 5%;

//Color Map
$colors: (
  primary: (
    base: $color-primary,
    dark: darken($color-primary, $color-adjust-amount),
  ),
  secondary: (
    base: $color-secondary,
  ),
  shade: (
    base: $color-shade,
  ),
  text-c: (
    base: $color-text,
  ),
);

//  Fonts
$font-stack-family: "Nunito Sans", Verdana, sans-serif;

//Layout
$min-width: 300px;
$max-width: 900px;
